body {
    /* Background image downloaded from www.subtlepatterns.com */
    background-image: url(img/pixel-heart.png);
}

#intro {
    text-align: center;
    font-family: 'Loved by the King', cursive;
    letter-spacing: 3px;
    font-size: 80px;
    margin: 5px 20px 10px 20px;
    padding: 20px;
}

.field {
    font-size: 25px;
    margin: 15px;
    padding: 15px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

input.go {
    margin: 15px;
    padding: 15px;
    font-size: 35px;
}

.subheader {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    font-size: 40px;
    margin: 5px 20px 10px 20px;
    padding: 20px;
}

.casual {
    margin: 8px;
    padding: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    color: black;
    text-align: center;
}

#first_subheader {
    margin-top: 60px;
}

label {
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
}

#create_account {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    font-size: 40px;
    margin: 5px 10px 10px 10px;
    padding: 15px;
    background-color: rgb(31, 231, 238);
}